{% extends "base.html" %}

{% block title %}Log-in{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
  <h1>Log-in</h1>
  {% if form.errors %}
    <div class="alert alert-block alert-danger"> 
      <ul class="m-0"> 
        <li>
          Your username and password didn't match. Please try again.
        </li> 
      </ul> 
    </div>
  {% else %}
    <p>Please, use the following form to log-in:</p>
  {% endif %}
  
  <div class="login-form">
    <form action="{% url 'login' %}" method="post">
      {{ form|crispy }}
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ next }}" />
      <input type="submit" value="Log-in" class="btn btn-success">
      <a href="{% url 'password_reset' %}">Forgotten your password?</a>
    </form>
  </div>
{% endblock %}